/*Element CSS*/

html, body {
    background-image: url("../images/tesla.jpg");
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Righteous', cursive;
    /*Properties for sticky footer, flexbox for variable height*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}

header {
    text-align: center;
    color: #ffffff;
}

h2, h3 {
    font-size: 50px;
}

body {
    color: black;
    font-size: 30px;
}

footer {
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 20px 0 10px;
    margin-top: 20px;
    border-top: 3px solid red;
    font-size: 30px;
}

img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
}

/*id CSS*/

#main-header {
    background-color: black;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 5%;
    border-bottom: 3px solid red;
    font-size: 70px;
}

#img-container {
    border: 2px solid white;
    background-color: red;
    padding: 5px;
    min-height: 20px;
}

#picture {
    width: 100%;
    height: 100%;
}

#section-block {
    border: 2px solid white;
    text-align: center;
}

#score {
    color: black;
}

#aside-block {
    border: 2px solid white;
    color: white;
}

/*media queries*/

@media only screen and (max-width:667px) {
    h3, p {
        font-size: 30px;
    }
    #main-header {
        font-size: 30px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .mobileInput {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .mobileInput {
        display: none;
    }
}